// light style
// Global
$background-color: #fff;
$text-color: #333;

// navbar
$navbar-background-color: #222;
$navbar-color: #fff;

// table
$table-background-color: #eee;

//page
$page-content-background-color: #fff;

// footer
$footer-background-color: #222;
